<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-button>
      <ion-title>Detalle Producto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content>
          <ion-card-title>{{productos.nombre}}</ion-card-title>
          <ion-card-title>{{productos.descripcion}}</ion-card-title>
          <ion-card-title>{{productos.categoria}}</ion-card-title>
          <ion-card-title>{{productos.precio}}</ion-card-title>
      </ion-card-content>
    </ion-card>
  
  </ion-content>